package templates

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Title</title>
			<link href="/public/css/styles.css" rel="stylesheet" />
		</head>
		<body>
            <h1 class="text-red-900">Layout File</h1>
            <div>
                { children...}
            </div>
        </body>
	</html>
}
